services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "${BACKEND_PORT}:8000"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PHOTO_TABLE: ${PHOTO_TABLE}
      METADATA_TABLE: ${METADATA_TABLE}
      WOJEWODZTWA_TABLE: ${WOJEWODZTWA_TABLE}
      POWIATY_TABLE: ${POWIATY_TABLE}
      GMINY_TABLE: ${GMINY_TABLE}
    depends_on:
      - db

  frontend:
    build: ./dashboard-portal
    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

  db:
    image: postgis/postgis:16-3.4
    container_name: postgis
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
