th.sortable-header .header-hover-arrow {
  opacity: 0;
  transition: opacity 0.2s;
}
th.sortable-header:hover .header-hover-arrow {
  opacity: 0.5;
  color: #888;
}
th .header-arrow {
  opacity: 1;
  color: #222;
  transition: color 0.2s;
}

.table-container {
  height: 100%;
  margin: 10px;
  overflow-y: auto;
  border-radius: 6px;
  background: #fff;
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 200, 200, 255) #f0f0f000;
  box-shadow: 0 0 9px 0 rgba(47, 49, 77, 0.16), 0 0 9px 0 rgba(84, 84, 84, 0.10);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  outline: 1.5px solid rgba(180, 200, 255, 0.12);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;

}

.table thead {
  background-color: rgba(240, 240, 240, 255);
  position: sticky;
  top: 0;
  z-index: 1;
}

.table th {
  padding: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  color: #222;
  border-bottom: 2px solid #e0e0e0;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.table td {
  padding: 6px 8px;
  border-bottom: 1px solid #f0f0f0;
  color: #444;
  font-weight: 400;
  font-size: 14px;
}

.table tbody tr:hover {
  background-color: rgba(240, 240, 240, 255);
}

.table th:nth-child(1), .table td:nth-child(1) {
  width: 45%;
  text-align: left;
}

.table th:nth-child(2), .table td:nth-child(2) {
  width: 30%;
  text-align: left;
}
.table th:nth-child(3) {
    width: 25%;
    text-align: right;
}

.table td:nth-child(3) {
  width: 25%;
  text-align: right;
  font-weight: 500;
  padding-right: 20px;
}
