.legend-button {
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1.1px rgba(0, 0, 0, .1);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
}


.legend-container {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1.0);
    padding:  8px 12px 8px 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);    
    font-size: 13px;
    max-width: 220px;
    z-index: 1000;
}

.legend-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-div {
    display: flex;
    justify-content: end;
}

.button-close-legend {
    padding-right: -4px;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
}

.button-close-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.button-icon {
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    margin-left: 1px;
    padding: 6px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1.1px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.button-icon-img {
    padding: 2px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.button-icon:hover, .legend-button:hover {
    background-color: rgba(240, 240, 240, 255);
}

.button-icon:active, .legend-button:active {
    background-color: rgba(200, 200, 200, 255);
}

