.teryt-selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 8px;
}


.teryt-form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 8px;
    width: 120%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 0 5px 1.1px rgba(55, 55, 55, 0.3);
}

.teryt-selection-labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

/* label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

label p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    font-size: 13px;
    color: #333;
    
}

.buttons-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.button-control {
    width: 50%;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Chiron Sung HK", serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


.button-control:hover {
  filter: brightness(0.9);
}

.button-control:active {
  filter: brightness(0.8);
}

.button-close {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

