.chart-resolution-container {
    background: 'white';
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 16px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chart-resolution-grid {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.chart-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h5 {
    margin: 0;
    font-weight: 400;
    font-style: italic;
}

.recharts-legend-item { 
    font-size: 14px; 
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.resolution-stats {
    font-size: 13px;
    font-weight: 400;
    color: #333;
    display: flex;
    flex-direction: column;
    gap:0px;
    align-items: end;
}

.resolution-stats p {
    margin: 0;
    margin-bottom: 0;
    font-weight: 500;

}

.resolution-stats span {
    font-weight: 300;
    color: #000;
}

.no-data-text {
    color: #999;
    font-style: italic;
    text-align: center;
    margin-top: 3rem;
    font-size: 14px;
}