.chart-color-container {
    background: 'white';
    padding: 1rem;
    /* margin: 1rem;
    margin-top: 15px;
    margin-right: 0; */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 16px;
    height: 197px;
    /* width: 200px; */
    background-color: white;
}

h4 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}