.chart-phototype-container {
    background: 'white';
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 16px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}