.year-chart-container {
    background-color: white;
    padding: 1rem;
    margin:0 0 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;

    height: 100%;
    /* max-height: 400px; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

h4 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}