html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
.deckgl-overlay canvas {
    pointer-events: none !important;
}
  
.hover-info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 2px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    font-size: 12px;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    cursor: pointer;
}

.custom-slider-container {
    width: 100%;
    flex: 10%;
    z-index: 10;
    background: #fff;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px 0;
}

.custom-slider-container p {
    margin: 0;
    margin-bottom: 7px;
    font-size: 12px;
    color: #333;
    font-weight: 400;
}

.custom-slider {
  width: 90% !important;
  height: 20px !important;
  color: #800020 !important;
  position: relative;
  padding: 0 !important;
  padding-bottom: 3px !important;
}

.custom-slider .MuiSlider-rail {
  opacity: 0.1 !important;
  background-color: #800020 !important;
  border-radius: 3px !important;
}

.custom-slider .MuiSlider-track {
  opacity: 0.4 !important;
  background-color: #800020 !important;
  border-radius: 4px !important;
}

.custom-slider .MuiSlider-thumb {
  height: 20px !important;
  width: 5px !important;
  background-color: #800020 !important;
  border: 2px solid #800020 !important;
  box-shadow: none !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  transition: box-shadow 0.3s ease;
}

.custom-slider .MuiSlider-thumb:hover,
.custom-slider .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0 0 0 8px rgba(128, 0, 32, 0.3);
}

.custom-slider .MuiSlider-valueLabel {
    background-color: #800020 !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 12px !important;
    border-radius: 4px !important;
    box-shadow: 0 0 5px rgba(128, 0, 32, 0.5) !important;
    top: -3px !important;
    padding : 2px 6px !important;
}

.custom-slider .MuiSlider-valueLabel * {
    background: transparent !important;
}

.custom-slider .MuiSlider-valueLabelOpen {
    transform: translateY(-30px) scale(1) !important;
}
