html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
.deckgl-overlay canvas {
    pointer-events: none !important;
}
  
.hover-info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 2px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    font-size: 12px;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    cursor: pointer;
}
