html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
.deckgl-overlay canvas {
    pointer-events: none !important;
}
  
.hover-info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 2px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    font-size: 12px;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    cursor: pointer;
}

.custom-slider-container {
    width: 100%;
    flex: 10%;
    z-index: 10;
    background: #fff;
    position: relative;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px 0;
    padding-top: 30px;
    box-shadow: 0 0 5px rgba(76, 76, 76, 0.35);
}   

.custom-slider {
  width: 90% !important;
  height: 20px !important;
  color: #800020 !important;
  position: relative;
  padding: 0 !important;
  padding-bottom: 3px !important;
}

.custom-slider .MuiSlider-rail {
  opacity: 0.1 !important;
  background-color: #800020 !important;
  border-radius: 3px !important;
}

.custom-slider .MuiSlider-track {
  opacity: 0.4 !important;
  background-color: #800020 !important;
  border-radius: 4px !important;
}

.custom-slider .MuiSlider-thumb {
  height: 20px !important;
  width: 5px !important;
  background-color: #800020 !important;
  border: 2px solid #800020 !important;
  box-shadow: none !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  transition: box-shadow 0.3s ease;
}

.custom-slider .MuiSlider-thumb:hover,
.custom-slider .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0 0 0 8px rgba(128, 0, 32, 0.3);
}


.custom-slider .MuiSlider-valueLabel {
    background: none !important;
    color: #800020 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    top: -18px !important; /* Lower the label closer to the slider */
    padding: 0 !important;
    min-width: 0 !important;
    width: auto !important;
    height: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: none !important;
}

.custom-slider .MuiSlider-valueLabel * {
    background: none !important;
    padding: 0 !important;
}


.custom-slider .MuiSlider-valueLabelOpen {
    transform: translateY(-10px) scale(1) !important; /* Lower the label closer to the slider */
    opacity: 1 !important;
    visibility: visible !important;
}
.custom-slider .MuiSlider-valueLabel,
.custom-slider .MuiSlider-valueLabelOpen {
    opacity: 1 !important;
    visibility: visible !important;
}

/* .popup-content button{
    background-color: #800020;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
} */

/* .popup-content a {
    text-decoration: none;
    color: #800020;
    font-weight: 500;
    font-size: 12px;
    font-family: "Chiron Sung HK", serif;
} */


.popup-container {
    position: absolute;
    background: white;
    padding: 12px;
    border-radius: 8px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(200, 200, 200, 255) #f0f0f000;
    box-shadow: 0 0 5px 1.1px rgba(55, 55, 55, 0.3);
}
.popup-text {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.popup-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 4px;
    display: block;
}


.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.popup-button {
    width: 100%;
    
}

.popup-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.popup-table th, .popup-table td {
    padding: 4px 8px;
    text-align: left;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.popup-table tr:last-child td,
.popup-table tr:last-child th {
    border-bottom: none;
}
.popup-table tr:first-child td:first-child {
    border-top-left-radius: 8px;
}
.popup-table tr:first-child td:last-child {
    border-top-right-radius: 8px;
}
.popup-table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
.popup-table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.popup-table th {
    font-weight: 600;
    border-right: 1px solid #ddd;
    background-color: rgba(240, 240, 240, 255);
}


.legend-button {
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1.1px rgba(0, 0, 0, .1);
    cursor: pointer;
    position: absolute;
    top: 112px;
    left: 10px;
    padding: 6px 10px;
}


.legend-container {
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 8px;
    border-radius: 0 8px 0 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.18);
    font-size: 13px;
    max-width: 220px;
    z-index: 1000;
}