.zgloszenia-table {
    background-color: white;
    padding: 1rem;
    margin: 0 0 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.zgloszenia-table th,
.zgloszenia-table td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

.zgloszenia-table th {
    background-color: #f7f7f7;
    font-weight: 600;
    font-size: 16px;
}

.zgloszenia-table tbody tr:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}
