.teryt-selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.button-teryt {
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1.1px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.button-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.teryt-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 0 0 1.1px rgba(0, 0, 0, .1);
}

.teryt-selection-labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

/* label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

label p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    font-size: 13px;
    color: #333;
}

.buttons-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button-control {
    background-color: #ddd;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
    width: 50%;
    font-family: "Chiron Sung HK", serif;
}

.button-control:hover {
    background-color: #bebebe;
    transition: all 0.2s ease;
}  

.button-close {
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

