.year-chart-container {
    background: 'white';
    padding: 10px 15px 55px 15px;
    margin: 10px 0 0 0px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    height: 160px;
    background-color: white;
}