html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Alegreya, serif;
}

.custom-cluster {
    border-radius: 50%;
    background-color: rgba(139, 0, 0, 0.705);
    color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-cluster-small {
    width: 40px;
    height: 40px;
    font-size: 12px;
    background-color: rgba(42, 189, 98, 0.799);
}

.custom-cluster-medium {
    width: 50px;
    height: 50px;
    font-size: 14px;
    background-color: rgba(255, 173, 66, 0.845);
}

.custom-cluster-large {
    width: 60px;
    height: 60px;
    font-size: 16px;
}
